@using EntityLayer.Concrete

@model List<Destination>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_MemberNewLayout.cshtml";
	int count = 0;
}
<div class="app-content content">
	<div class="content-wrapper">
		<div class="content-wrapper-before"></div>
		<div class="content-header row">
			<div class="content-header-left col-md-4 col-12 mb-2">
				<h3 class="content-header-title">Aktif Tur Rotası Tablsou</h3>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Aktif Tur Rotaları</h4>
							<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
							<div class="heading-elements">
								<ul class="list-inline mb-0">
									<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
									<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
									<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
									<li><a data-action="Kapat"><i class="ft-x"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="card-content collapse show">
							<div class="card-body">
								
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>#</th>
												<th>Şehir</th>
												<th>Açıklama</th>
												<th>Fiyat</th>
												<th>Kapasite</th>
												<th>Sil</th>
												<th>Güncelle</th>
											</tr>
										</thead>
										<tbody>

											@foreach (var item in Model)
											{
												count++;
												<tr>
													<td>@count</td>
													<td>@item.City</td>
													<td>@item.Description</td>
													<td>@item.Price</td>
													<td>@item.Capacity</td>
													<td><a class="btn btn-info" href="#">Sil</a></td>
													<td><a class="btn btn-warning" href="#">Güncelle</a></td>

												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


